@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mainPic">
    <h1>Park Remarks</h1>
    <p class="lead">Remarks and reviews of your favorite parks! </p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
 @*Next I'm going to personalize the text for the front page. I commented out the buttons to I have them in case I want to add working links later on*@
<div class="row">
    <div class="text-center">
        <div class="col-md-4">
            <h2>Choose from a Category</h2>
            <p>
                What's your pleasure? Skate parks? Water parks? Maybe some great hiking in a National Park? Whatever it is read through our reviews and find the one you want to visit!
            </p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Write a Review</h2>
            <p>Want to share your park remarks with other? Know of a good time or want to warn other? Share your experiences with others!</p>
            @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
        </div>
        <div class="col-md-4">
            <h2>Create Your Own Categories</h2>
            <p>
                There are so many kinds of parks and kinds of remarks that we invite users to creat their own categories! Categories will be examined by our staff before submission to our website. </p>
                @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        </div>
    </div>
</div>